@import "../../assets/styles/mixins.scss";

.border-bottom {
    border-bottom: 1px solid $lightGray;
}
.letter-link {
    &:hover {
        text-decoration: underline;
    }
}
.height-250 {
    height: 250px;
    @media screen and (max-width:767px) {
        height: auto;
    }
}
.min-height-250 {
    min-height: 250px;
    @media screen and (max-width:767px) {
        height: auto;
    }
}
.min-height-260 {
    min-height: 260px;
    @media screen and (max-width:767px) {
        height: auto;
    }
}
.height-190 {
    height: 190px;
}
.mini-height-190 {
    min-height: 190px;
}