@import "src/assets/styles/mixins.scss";

body {
   min-height: auto;
   .container-center {
      .login-area {
         .card {
            border: none;
            .custom_head {
               width: 100%;
            }
            .sent-pswd {
               @include flex(flex-start, center);
               padding: 0 20px;
               .header-title {
                  margin-left: 10px;
               }
            }
            .card-body {
               &.forget-card {
                  width: 100%;
                  .form-control {
                     width: 100%;
                  }
                  .login-buttons {
                     padding-top: 10px;
                     @include flex(space-between);
                     .btn {
                        padding: 5px 15px;
                     }
                     .login {
                        padding-left: 20px;
                        padding-right: 20px;
                     }
                     .register {
                        font-size: 14px;
                     }
                  }
               }
            }
         }
      }
   }
}
