$light-light-gray: #eaeaea;
$gray1: #374767;
$gray2: #374767;
$gray3: #374767;
$gray4: #555;
$gray5: #ddd;
$gray8: #888;
$gray9: #546e7a;
$gray10: #eeeeee;
$gray11: #3b4751;
$gray12: #218b90;
$gray13: #5c5c5c;
$gray14: #999;
$gray15: #ddd;
$gray16: #e4e5e7;
$gray17: #bbb;
$lightGray: #ccc;
$light-white: #f1f3f6;
$white: #fff;
$white1: #f1f1f1;
$white2: #eceff1;
$white3: #ecf0f1;
$black: #000;
$black1: #060606;
$black2: #444;
$blue1: #b1d3db;
$blue2: #b1eaec;
$red1: #009688;
$red: red;
$redDanger: #dc3545;
$redDanger2: #e5343d;
$orange: #ee7e09;
$linkColor: #495057;
$charcoal-grey: #364051;
$light-blue-grey: #c4c5ca;
$royalBlue: #416be1;
$active-row: #21d9d7;
$anchorBlue: #0056b3;
$primary: #0062cc;
$secondary: #6c757d;
$dark: #222;
$light-blue: #deebf7;
$color1: #5b9bd5;
$color2: #333;
$orangeRed: #ff5349;
$darkOrange: #ff8c00;
$weak: #F25F5C;
$medium: #247BA0;
$strong: #2ebd86;
